<div class="footer">
    <div class="container">
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="footer_box">
                <h5>Informations</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="">Qui sommes-nous ?</a>
                    </li>
                    <li>
                        <a href="">Plan du site</a>
                    </li>
                    <li>
                        <a href="">Vendez vos produits</a>
                    </li>
                    <li>
                        <a href="">Modes & Frais de livraison</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="footer_box">
                <h5>Mon compte</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="">Mon Compte</a>
                    </li>
                    <li>
                        <a href="">Mes commandes</a>
                    </li>
                    <li>
                        <a href="">Mes favories</a>
                    </li>
                    <li>
                        <a href="">News letter</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="footer_box">
                <h5>Services</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="">Solution crédit</a>
                    </li>
                    <li>
                        <a href="">Garanties et assurances</a>
                    </li>
                    <li>
                        <a href="">Conseil Avant-Vente / Infos</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="footer_box">
                <h5>Contactez-nous</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="">Contact Service Client</a>
                    </li>
                    <li>
                        <a href="">Service Après-Vente</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>