@charset "UTF-8";

#cart_summary tbody td.cart_unit,
#cart_summary tbody td.cart_total {
    text-align: right
}
.text-center,
#cart_summary thead th.cart_product,
#cart_summary tbody td.cart_product,
#cart_summary tbody td.cart_avail,
#cart_summary tbody td.cart_delete {
    text-align: center
}

#cart_summary thead th {
    padding: 7px 8px 9px 8px
}
#cart_summary tbody td {
    padding: 7px 8px 9px 8px
}
#cart_summary tbody td.cart_product {
    padding: 7px;
    width: 137px
}
#cart_summary tbody td.cart_product img {
    border: 1px solid #d6d4d4
}
#cart_summary tbody td.cart_unit .price span {
    display: inline-block
}
#cart_summary tbody td.cart_unit .price span.price-percent-reduction {
    margin: 5px auto;
    display: inline-block
}
#cart_summary tbody td.cart_unit .price span.old-price {
    text-decoration: line-through
}
#cart_summary tbody td.cart_description small {
    display: block;
    padding: 5px 0 0 0
}
#cart_summary tbody td.cart_avail {
    width: 1%
}
#cart_summary tbody td.cart_avail span {
    white-space: nowrap
}
#cart_summary tbody td.cart_delete {
    width: 1%
}
#cart_summary tfoot td.text-right,
#cart_summary tfoot tbody td.cart_unit,
#cart_summary tbody tfoot td.cart_unit,
#cart_summary tfoot tbody td.cart_total,
#cart_summary tbody tfoot td.cart_total {
    font-weight: bold;
    color: #333
}
#cart_summary tfoot td.price {
    text-align: right
}
#cart_summary tfoot td.total_price_container span {
    font: 600 18px/22px "Open Sans", sans-serif;
    color: #555454;
    text-transform: uppercase
}
#cart_summary tfoot td#total_price_container {
    font: 600 21px/25px "Open Sans", sans-serif;
    color: #333;
    background: #fff
}
#cart_summary .stock-management-on tbody td.cart_description {
    width: 480px
}
.cart_discount_price {
    text-align: right
}
.cart_discount_delete {
    text-align: center
}
@media (max-width: 767px) {
    #order-detail-content #cart_summary table,
    #order-detail-content #cart_summary thead,
    #order-detail-content #cart_summary tbody,
    #order-detail-content #cart_summary th,
    #order-detail-content #cart_summary td,
    #order-detail-content #cart_summary tr {
        display: block
    }
    #order-detail-content #cart_summary thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px
    }
    #order-detail-content #cart_summary tr {
        border-bottom: 1px solid #cccccc;
        padding-bottom: 7px;
        overflow: hidden;
        position: relative
    }
    #order-detail-content #cart_summary td {
        border: none;
        position: relative;
        float: left;
        white-space: normal;
        padding: 7px 20px 7px 20px
    }
    #order-detail-content #cart_summary td.cart_product {
        text-align: left
    }
    #order-detail-content #cart_summary td.cart_avail {
        display: none
    }
    #order-detail-content #cart_summary td.cart_unit {
        width: 33%;
        text-align: right;
        min-height: 70px;
        clear: both
    }
    #order-detail-content #cart_summary td.cart_unit .price {
        text-align: right
    }
    #order-detail-content #cart_summary td.cart_quantity {
        width: 33%;
        min-height: 70px;
        border-left: 1px solid #cccccc;
        border-right: 1px solid #cccccc
    }
    #order-detail-content #cart_summary td.cart_quantity div {
        display: block
    }
    #order-detail-content #cart_summary td.cart_quantity > .form-control {
        display: inline
    }
    #order-detail-content #cart_summary td.cart_quantity > .cart_quantity_button a {
        margin-right: 0;
        float: none
    }
    #order-detail-content #cart_summary td.cart_total {
        width: 33%;
        min-height: 70px;
        text-align: right
    }
    #order-detail-content #cart_summary td.cart_delete {
        position: absolute;
        right: 20px;
        top: 7px
    }
    #order-detail-content #cart_summary td.cart_delete:before {
        content: '' !important
    }
    #order-detail-content #cart_summary td div {
        display: inline
    }
    #order-detail-content #cart_summary td:before {
        content: attr(data-title);
        font-weight: bold;
        display: block
    }
    #order-detail-content #cart_summary tfoot td {
        float: none;
        width: 100%
    }
    #order-detail-content #cart_summary tfoot td:before {
        display: inline
    }
    #order-detail-content #cart_summary tfoot tr .text-right,
    #order-detail-content #cart_summary tfoot tr tbody td.cart_unit,
    #order-detail-content #cart_summary tbody tfoot tr td.cart_unit,
    #order-detail-content #cart_summary tfoot tr tbody td.cart_total,
    #order-detail-content #cart_summary tbody tfoot tr td.cart_total,
    #order-detail-content #cart_summary tfoot tr .price {
        display: block;
        float: left;
        width: 50%
    }
}
@media (max-width: 768px) {
    #order-detail-content #cart_summary tbody td .price {
        text-align: center
    }
    #order-detail-content #cart_summary tbody td.cart_description {
        width: 300px
    }
}